
@{
    ViewBag.Title = "MangerPage";
}

<style>
    #asas {
        height: 860px;
    }
    #shjahs {
        width: 100%;
        height: 860px;
    }

    .menuleft {
        left: 200px;
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 30px;
    }

    .el-aside {
        color: #333;
    }

    .el-submenu .el-menu-item {
        min-width: 190px;
    }

    .el-breadcrumb__separator {
        color: #fff
    }

    .el-main{
        padding:0px;
    }
    .el-menu {
        border-right: solid 0px #e6e6e6;
    }
</style>

<div id="ManageTool">
    <section class="page-header" style="height:53px;">
        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">{{NAVMainPage}}</a>/
            <a class="navigation_a" href="/JCSelection/office_Eservice_test">{{CustomPage}}</a>/
            <a class="navigation_a">管理者</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->
    <section>
        <el-container style="height: 860px">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu class="el-menu-vertical-demo"
                         @@open="handleOpen"
                         @@close="handleClose"
                         background-color="#324254"
                         text-color="#fff"
                         active-text-color="#ffd04b">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-user"></i>用户中心
                        </template>
                        <el-submenu index="11">
                            <template slot="title">
                                用户信息
                            </template>
                             <el-menu-item index="1-1" @@click="goTo('../JCManage/userRegisterInfo')">注册情况</el-menu-item>
                            <el-menu-item index="1-2" @@click="goTo('../JCManage/userCompanyInfo')">用户信息</el-menu-item>
                            <el-menu-item index="/test1" @@click="goTo('../JCManage/userLevel')">用户权限</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-menu"></i>产品中心
                        </template>
                        <el-submenu index="21">
                            <template slot="title">
                                部件信息
                            </template>
                            <el-menu-item index="2-1-1" @@click="goTo('../JCManage/partColumn')">立柱</el-menu-item>
                            <el-menu-item index="2-1-2" @@click="goTo('../JCManage/partFoot')">地脚</el-menu-item>
                            <el-menu-item index="2-1-3" @@click="goTo('../JCManage/partFrame')">框架</el-menu-item>
                            <el-menu-item index="2-1-4" @@click="goTo('../JCManage/partSidebracket')">侧板</el-menu-item>
                            <el-menu-item index="2-1-5" @@click="goTo('../JCManage/partControlbox')">控制器</el-menu-item>
                            <el-menu-item index="2-1-6" @@click="goTo('../JCManage/partHandset')">手控器</el-menu-item>
                            <el-menu-item index="2-1-7" @@click="goTo('../JCManage/productDescDetail?textkey=0')">部件描述</el-menu-item>
                        </el-submenu>
                        <el-submenu index="22">
                            <template slot="title">
                                整桌信息
                            </template>
                            <el-menu-item index="2-2-1" @@click="goTo('../JCManage/productByJiecang')">整桌方案</el-menu-item>
                            <el-menu-item index="2-2-2" @@click="goTo('../JCManage/productByUser')">自定义方案</el-menu-item>
                            <el-menu-item index="2-2-3" @@click="goTo('../JCManage/productDeskDetail')">方案详情</el-menu-item>
                        </el-submenu>
                        <el-submenu index="23">
                            <template slot="title">
                                配件及颜色
                            </template>
                            <el-menu-item index="2-3-1" @@click="goTo('../JCManage/partPowerCable')">电源线</el-menu-item>
                            <el-menu-item index="2-3-2" @@click="goTo('../JCManage/productcolor')">颜色</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-document"></i>文件系统
                        </template>
                        <el-submenu index="31">
                            <template slot="title">
                                文件信息
                            </template>
                            <el-menu-item index="3-1" @@click="goTo('../JCManage/filesDetail')">文件信息</el-menu-item>
                            <el-menu-item index="3-2" @@click="goTo('../JCOfficeManager/Index')">文件上传</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <el-main>
                <div id="asas">
                </div>
                </el-main>
            </el-container>
        </el-container>
    </section>
</div>



<script>
    $(function () {
        $('.bottom-footer').hide();
    })
</script>
<script>
    var OfficeStandards = new Vue({
        el: '#ManageTool',
        data() {
            return {
                langCode: "",
                NAVMainPage: "",
                CustomPage: "",
                tableHeight: "",
                search: '',
                LoginUsername: '',
                PersonalTitle: "",
                PersonalDate: "",
                PersonalConfigName: "",
                PersonalSearch: "",
                PersonalLookover: "",
                PersonalModify: "",
                value: 0,
                emailsearch: '',
                table:[]
            }
        },
        computed: {
            username() {
                // 我们很快就会看到 `params` 是什么
                return this.$route.params.username
            }
        },
        methods: {
            initPage: function (event) {
                var height = window.innerHeight - 50;
                this.tableHeight = height;
                var code = GetLanguCode();
                this.langCode = code;
                this.LoginUsername = GetLoginUsername();
                var level = GetLoginLevel();
                if (level < 2) {
                    window.location.href = "/JCSelection/main";
                }
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                        // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
                var i = '<iframe scrolling="no"  id="shjahs"  alt=""  src = ""/>';
                $('#asas').append(i);
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            goTo(path) {
                $("#shjahs").attr({
                    "src": path
                });
            },
            
        },
    })
    //语言加载
    OfficeStandards.initPage();
</script>

