
@{
    ViewBag.Title = "productDescDetail";
}

<script src="/Scripts/vue.min.js"></script>
<link href="/assets/eleindex.css" rel="stylesheet" />
<script src="/assets/eleindex.js"></script>
<script src="/Scripts/vueAjax.js"></script>
<style>
    .el-dialog {
        margin-top: 0vh !important;
    }

    .size-icon {
        font-size: 30px;
    }
</style>
<section>
<div id="desc">
    <h1 style="text-align:center">部件描述信息</h1>
    <el-row>
        <span>部件描述Key</span>
        <el-input v-model="search" style="width:400px;"></el-input>
        <el-button @@click="jump" icon="el-icon-search" align="right">查询</el-button>
        <el-button @@click="addformshow" icon="el-icon-circle-plus-outline" align="right">新增</el-button>
    </el-row>

    <el-table :table="partpowercabletableData"
              :default-sort="{prop: 'UpdateTime', order: 'descending'}"
              :data="partpowercabletableData.filter(data => !table_emailsearch || data.Mode.toLowerCase().includes(table_emailsearch.toLowerCase())).slice((currentPage4-1)*pagesize,currentPage4*pagesize)"
              stripe
              height="700"
              style="width:100%">
        <el-table-column prop="textKay" label="Key值"  width="100px;">
        </el-table-column>
        <el-table-column prop="langCode" label="语言"  width="200px">
        </el-table-column>
        <el-table-column prop="textValue" label="内容">
        </el-table-column>

        <el-table-column label="操作" width="160px">
            <template slot-scope="scope">
                <el-button size="mini"
                           @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini"
                           type="danger"
                           @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @@current-change="handleCurrentChange"
                   :current-page="currentPage4"
                   :page-size="pagesize"
                   layout="total, prev, pager, next, jumper"
                   :total="partpowercabletableData.length"
                   align="center">
    </el-pagination>


    <el-dialog title="部件描述信息"
               :visible.sync="dialogVisible"
               width="40%">
        <el-form ref="form" :model="form" label-width="150px">
            <el-form-item label="Key值">
                <el-input v-model="form.textKay" style="width:60%;"></el-input>
            </el-form-item>
            <el-form-item label="语言">
                <el-select v-model="form.langCode">
                    <el-option label="中文" value="zh"></el-option>
                    <el-option label="英文" value="en"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="内容">
                <el-input type="textarea"
                          autosize
                          placeholder="请输入内容"
                          v-model="form.textValue"
                          style="width:60%;">
                </el-input>
            </el-form-item>
            <el-button @@click="onSubmit">更新</el-button>
        </el-form>
    </el-dialog>

    <el-dialog title="部件描述信息"
               :visible.sync="adddialogVisible"
               width="40%">
        <el-form ref="addform" :model="addform" :rules="rules" label-width="150px">
            <el-form-item label="Key值">
                <el-input v-model="addform.textKay" disabled style="width:60%;"></el-input>
            </el-form-item>
            <el-form-item label="语言">
                <el-select v-model="addform.langCode">
                    <el-option label="中文" value="zh"></el-option>
                    <el-option label="英文" value="en"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="内容">
                <el-input type="textarea"
                          autosize
                          placeholder="请输入内容"
                          v-model="addform.textValue"
                          style="width:60%;">
                </el-input>
            </el-form-item>
        </el-form>
        <el-button @@click="addonSubmit('addform')">新增</el-button>
    </el-dialog>
</div>
    </section>
<script>
    $(function () {
        $('.bottom-footer').hide();
        $('.main-menu').hide();
    })
    var table = new Array();
    var partpowercableboxtable = new Array();
    function GetDescInfo() {
        //用 ajax 写
        partpowercableboxtable.length = 0;
        $.ajax(
            {
                url: "/JCManage/GetDeskDescInfo",
                method: 'get',
                data: { textkey: @ViewBag.textkey },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var q = {
                            //UpdateTime: convertTime(data[i].UpdateTime, "yyyy-MM-dd"),
                            textKay: data[i].textKay,
                            langCode: data[i].langCode,
                            textValue: data[i].textValue,

                        };
                        //this.tableData.push(q);
                        partpowercableboxtable.push(q);
                    }
                    table = data;
                    console.log(partpowercableboxtable);
                },
                error: function (err) {
                    alert(err);
                }
            });
        //desctable.length = 0;

    };
    GetDescInfo();
    var Register = new Vue({
        el: '#desc',
        data() {
            return {
               table_emailsearch: '',
                partpowercabletableData: partpowercableboxtable,
                currentPage4: 1,
                pagesize: 12,
                dialogVisible: false,
                dialogdata: [],
                certinfokey: false,
                adddialogVisible: false,
                addindexdialogVisible: false,
                search:'@ViewBag.textkey',
                form: {
                    textKay: '',
                    langCode: '',
                    textValue: '',
                },
                addform: {
                    textKay: '@ViewBag.textkey',
                    langCode: null,
                    textValue: null,
                },
                rules: {
                    textKay: [
                        { required: true }
                    ],
                    langCode: [
                        { required: true }
                    ],
                    textValue: [
                        { required: true }
                    ],
                }
            }
        },

        methods: {
            jump: function (event) {
                window.location.href = "productDescDetail?textkey=" + this.search;
            },
            //search: function (event) {
            //    if (this.table_emailsearch !=0) {
            //        console.log(this.table_emailsearch);
            //        this.$http({           //调用接口
            //            method: 'GET',
            //            url: "/JCManage/GetDeskDescInfo",
            //            params: {
            //                textkey: this.table_emailsearch,
            //            }
            //        }).then(function (response) {
            //            for (var i = 0; i < response.body.length; i++) {
            //                var q = {
            //                    textKay: response.body[i].textKay,
            //                    langCode: response.body[i].langCode,
            //                    textValue: response.body[i].textValue,

            //                };
            //                this.desktableData.push(q);
            //            }
            //            console.log(this.desktableData);
            //        })
            //    }
            //},
            handleCurrentChange: function (currentPage) {  //页码更改方法
                this.currentPage4 = currentPage;
            },
            handleEdit(index, row) {
                console.log(this.currentPage4);
                console.log(this.pagesize);

                this.dialogdata = table[index + (this.currentPage4 - 1) * this.pagesize];
                console.log(this.dialogdata);

                this.dialogVisible = true;
            },
            handleDelete(index, row) {
                this.dialogdata = table[index + (this.currentPage4 - 1) * this.pagesize];
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http({           //调用接口
                        method: 'POST',
                        url: "/JCManage/DeleteDeskDescInfo",
                        params: {
                            forminfo: JSON.stringify(this.form),
                        }
                    }).then(function (response) {
                        this.isadd = response.body;
                        if (this.isadd == true) {

                            location.reload();
                        }
                    });
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
                console.log(this.dialogdata);
            },
            onSubmit() {
                this.$http({           //调用接口
                    method: 'POST',
                    url: "/JCManage/UpdateDeskDescInfo",
                    params: {
                        forminfo: JSON.stringify(this.form),
                    }
                }).then(function (response) {
                    this.isadd = response.body;
                    console.log(this.form);
                    console.log(JSON.stringify(this.form));
                    console.log(response.body);
                    if (this.isadd == true) {
                        this.$notify({
                            message: '提交成功',
                            type: 'success'
                        });
                        location.reload();
                    }
                })
            },
            addonSubmit(formname) {
                console.log(this.addform);
                this.$refs[formname].validate((valid) => {
                    if (valid) {
                        this.$http({           //调用接口
                            method: 'POST',
                            url: "/JCManage/addDeskDescInfo",
                            params: {
                                forminfo: JSON.stringify(this.addform),
                            }
                        }).then(function (response) {
                            this.isadd = response.body;
                            console.log(this.addform);
                            console.log(JSON.stringify(this.addform));
                            console.log(response.body);
                            if (this.isadd == true) {
                                this.$notify({
                                    message: '提交成功',
                                    type: 'success'
                                });
                                location.reload();
                            }
                        })
                        console.log(this.addform);
                    }
                    else {
                        this.$notify.error('缺少内容');
                    }
                })
            },
            addformshow() {
                this.adddialogVisible = true;
            },
            addindexdialogshow() {
                this.addindexdialogVisible = true;
            },

        },
        watch: {
            dialogdata() {
                Object.assign(this.form, this.dialogdata);
            },
        }
    })
    //Register.search();
</script>





