
@{
    ViewBag.Title = "userLevel";
}

<script src="/Scripts/vue.min.js"></script>
<link href="/assets/eleindex.css" rel="stylesheet" />
<script src="/assets/eleindex.js"></script>
<script src="/Scripts/vueAjax.js"></script>
<div id="userLevel">
    <div>
        <h1 style="text-align:center">用户权限等级</h1>
        <span>电子邮箱</span>
        <el-input v-model="table_emailsearch" style="width:400px;"></el-input>
        <el-table :table="tableData"
                  :default-sort="{prop: 'UpdateTime', order: 'descending'}"
                  :data="tableData.filter(data => !table_emailsearch || data.Email.toLowerCase().includes(table_emailsearch.toLowerCase())).slice((currentPage4-1)*pagesize,currentPage4*pagesize)"
                  height="680">
            <el-table-column prop="UpdateTime" label="更新时间" sortable>
            </el-table-column>
            <el-table-column prop="Email" label="电子邮箱">
            </el-table-column>
            <el-table-column prop="Level" label="权限等级">
            </el-table-column>
            <el-table-column label="操作" width="160px">
                <template slot-scope="scope">
                    <el-button size="mini"
                               @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>                   
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @@current-change="handleCurrentChange"
                       :current-page="currentPage4"
                       :page-size="pagesize"
                       layout="total, prev, pager, next, jumper"
                       :total="tableData.length"
                       align="center">
        </el-pagination>
    </div>
    <el-dialog title="权限等级信息"
               :visible.sync="dialogVisible"
               width="40%">
        <el-form ref="form" :model="form" label-width="150px">
            <el-form-item label="更新时间">
                <el-input v-model="form.UpdateTime" disabled style="width:60%;"></el-input>
            </el-form-item>
            <el-form-item label="电子邮箱">
                <el-input v-model="form.Email" disabled style="width:60%;"></el-input>
            </el-form-item>
            <el-form-item label="权限等级">
                <el-input v-model="form.Level" oninput = "value=value.replace(/[^\d]/g,'')" style="width:60%;"></el-input>
            </el-form-item>            
            <el-button @@click="onSubmit">更新</el-button>
        </el-form>
    </el-dialog>
</div>


<script>
    $(function () {
        $('.bottom-footer').hide();
        $('.main-menu').hide();
    })
    var table = new Array();
    var UserData = new Array();
    function Init() {
        var level = GetLoginLevel();
        if (level < 2) {
            window.location.href = "/JCSelection/main";
        }
    };
    Init();
    function GetUserInfo() {
        //用 ajax 写
        UserData.length = 0;
        $.ajax(
            {
                url: "/JCManage/GetAllUserInfo",
                method: 'get',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var q = {
                            UpdateTime: convertTime(data[i].UpdateTime, "yyyy-MM-dd"),
                            Email: data[i].Email,
                            Level: data[i].Level 
                        };
                        //this.tableData.push(q);
                        UserData.push(q);
                        
                    }
                    table = UserData;
                },
                error: function (err) {
                    alert(err);
                }

            });
    };
    GetUserInfo();
    var Register = new Vue({
        el: '#userLevel',
        data() {

            return {
                table_emailsearch: '',
                tableData: UserData,
                currentPage4: 1,
                pagesize: 13,
                dialogVisible: false,
                dialogdata: [],
                certinfokey: false,
                adddialogVisible: false,
                addindexdialogVisible: false,
                form: {
                    UpdateTime: '',
                    Email: '',
                    Level: '',
                },
                
            }
        },
        methods: {
            handleCurrentChange: function (currentPage) {  //页码更改方法
                this.currentPage4 = currentPage;
            },
            handleEdit(index, row) {
                console.log(index);
                console.log(this.currentPage4);
                console.log(this.pagesize);
                var a = 0;
                for (var i = 0; i < table.length; i++) {
                    if (table[i].Email == row.Email) {
                        a = i;
                    }
                }
                this.dialogdata = table[a];
                console.log(this.dialogdata);
                this.certinfokey = !this.certinfokey;
                this.dialogVisible = true;
            },
            
            onSubmit() {
                console.log(this.form);
                this.$http({           //调用接口
                    method: 'POST',
                    url: "/JCManage/UpdateUserLevel",
                    params: {
                        forminfo: JSON.stringify(this.form),
                    }
                }).then(function (response) {
                    this.isadd = response.body;
                    console.log(this.form);
                    console.log(JSON.stringify(this.form));
                    console.log(response.body);
                    if (this.isadd == true) {
                        this.$notify({
                            message: '提交成功',
                            type: 'success'
                        });
                        location.reload();
                    }
                })


            },
        },
        watch: {
            dialogdata() {
                Object.assign(this.form, this.dialogdata);
            },

        }
    })

</script>

