@model IEnumerable<_1GemmyModel.Model.ModelProductOffice.T_Office_Files>

@{
    Layout = null;
}





<script src="/Scripts/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<link href="/assets/eleindex.css" rel="stylesheet" />
<script src="/assets/eleindex.js"></script>
<link href="//unpkg.com/element-ui@2.15.2/lib/theme-chalk/index.css" rel="stylesheet" />

<style>
    @@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>


<div id="OfficeStandards">
    <template>

        <el-table :data="paramTableData.filter(data => !search || data.FileName.toLowerCase().includes(search.toLowerCase())).slice((currentPage-1)*pagesize,currentPage*pagesize)"
                  :max-height="tableHeight"
                  stripe>
            <el-table-column prop="partType"
                             label="部件类型"
                             width="100">
            </el-table-column>
            <el-table-column prop="Mode"
                             label="型号"
                             width="180">
            </el-table-column>
            <el-table-column prop="FileName"
                             label="文件名"
                             width="200">
            </el-table-column>
            <el-table-column prop="Nature"
                             label="文件短介绍"
                             width="180">
            </el-table-column>
            <el-table-column prop="Information"
                             label="长介绍"
                             width="300">
            </el-table-column>
            <el-table-column prop="Path"
                             label="文件路径"
                             width="200">
            </el-table-column>
            <el-table-column prop="Size"
                             label="文件大小"
                             width="100">
            </el-table-column>
            <el-table-column prop="Type"
                             label="文件类型"
                             width="100">
            </el-table-column>
            <el-table-column prop="Lock"
                             label="锁定状态"
                             width="100">
            </el-table-column>
            <el-table-column prop="Language"
                             label="文件语言"
                             width="100">
            </el-table-column>
            <el-table-column prop="UpdateTime"
                             label="更新时间"
                             width="180">
            </el-table-column>
            <el-table-column prop="thumbnailImg"
                             label="文件缩略图"
                             width="180">
            </el-table-column>
            <el-table-column align="right" width="180">
                <template slot="header" slot-scope="scope">
                    <el-input v-model="search"
                              size="mini"
                              placeholder="输入关键字搜索" />
                </template>
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               @@click="handleEdit(scope.$index, scope.row)">
                        编辑
                    </el-button>
                    <el-button size="mini"
                               type="danger"
                               @@click="handleDelete(scope.$index, scope.row)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[5,10,20,40]"
                       :page-size="pagesize"
                       layout="total,sizes,prev,pager,next,jumper"
                       :total="paramTableData.length"
                       align="center">
        </el-pagination>

        <el-dialog title="修改" :visible.sync="dialogFormEdit" top>
            <el-form :model="Editform">
                <el-form-item label="部件类型" :label-width="formLabelWidth">
                    <el-input v-model="Editform.partType" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="型号" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Mode" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="文件名" :label-width="formLabelWidth">
                    <el-input v-model="Editform.FileName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="文件短介绍" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Nature" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="长介绍" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Information" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="文件路径" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Path" autocomplete="off" disabled></el-input>
                </el-form-item>
                <el-form-item label="文件大小" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Size" autocomplete="off" disabled></el-input>
                </el-form-item>
                <el-form-item label="文件类型" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Type" autocomplete="off" disabled></el-input>
                </el-form-item>
                <el-form-item label="锁定状态" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Lock" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="文件语言" :label-width="formLabelWidth">
                    <el-input v-model="Editform.Language" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="更新时间" :label-width="formLabelWidth">
                    <el-input v-model="Editform.UpdateTime" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="文件缩略图" :label-width="formLabelWidth">
                    <el-input v-model="Editform.thumbnailImg" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="型号" :label-width="formLabelWidth">
                    <el-select v-model="Editform.Mode" placeholder="请选择活动区域">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialogFormEdit = false">取 消</el-button>
                <el-button type="primary" @@click="dialogFormEdit = false">确 定</el-button>
            </div>
        </el-dialog>

    </template>
</div>

<script>
    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data() {
            return {
                tableData: [],
                search: '',
                T_Office_Files: null,
                paramTableData: [],
                tableHeight: null,
                strTime: '', 
                currentPage: 1,   //默认页码为1
                pagesize: 10,  //默认一页显示10条
                dialogFormEdit: false,
                Editform: {
                    partType: '',
                    Mode: '',
                    FileName: '',
                    Nature: '',
                    Information: '',
                    Path: '',
                    Size: '',
                    Type: '',
                    Lock: '',
                    Language: '',
                    UpdateTime: '',
                    thumbnailImg:''
                },
                formLabelWidth: '120px',
                index:'',
            }
        },
        methods: {
            init: function (event) {
                this.tableHeight = window.innerHeight - 50;
            },
            tableRowClassName({ row, rowIndex }) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            handleEdit(index, row) {
                this.dialogFormEdit = true;
                this.Editform = Object.assign({}, row);
                this.index = index;
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getallFile: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/T_Office_Files/GetAllFile",
                    params: {

                    }
                }).then(function (response) {
                    this.T_Office_Files = response.body;
                    console.log(response.body);
                    console.log(this.T_Office_Files);
                    if (this.T_Office_Files != null) {
                        for (var i = 0; i < this.T_Office_Files.length; i++) {                            
                            var q = {
                                partType: this.T_Office_Files[i].partType, Mode: this.T_Office_Files[i].Mode,
                                FileName: this.T_Office_Files[i].FileName, Nature: this.T_Office_Files[i].Nature,
                                Information: this.T_Office_Files[i].Information, Path: this.T_Office_Files[i].Path,
                                Size: this.T_Office_Files[i].Size, Type: this.T_Office_Files[i].Type,
                                Lock: this.T_Office_Files[i].Lock, Language: this.T_Office_Files[i].Language,
                                UpdateTime: this.T_Office_Files[i].UpdateTime, thumbnailImg: this.T_Office_Files[i].thumbnailImg
                            };
                            this.paramTableData.push(q);
                        }
                        console.log(this.paramTableData);
                        console.log(this.T_Office_Files.length);
                    }
                }
                );                
            },
            HandelTime(strTime) {
                var obj = new Date(parseInt(strTime.replace("/Date(", "").replace(")/", ""), 10));
                return obj.getFullYear() + "-" + obj.getMonth() + "-" + obj.getDate();
            },
            handleSizeChange: function (size) {   //一页显示多少条
                this.pagesize = size;
            },
            handleCurrentChange: function (currentPage) {  //页码更改方法
                this.currentPage = currentPage;
            }
        }        
    })
    OfficeStandards.init();
    OfficeStandards.getallFile();
    
    

</script>