
@{
    ViewBag.Title = "personal";
}

<style>
    .tableSelection {
        height: calc(100vh - 130px);
        margin-top:10px;
    }

</style>
<div id="personal">
    <section class="page-header" style="height:53px;">
        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">{{NAVMainPage}}</a>/
            <a class="navigation_a" href="/JCSelection/office_Eservice_test">{{CustomPage}}</a>/
            <a class="navigation_a">列表</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="service-page tableSelection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <template>
                        <el-table :data="tableData"
                                  :height="tableHeight">
                            <el-table-column label="日期"
                                             prop="UpdateTime">
                            </el-table-column>
                            <el-table-column label="配置名称"
                                             prop="configurationName">
                            </el-table-column>
                            <el-table-column align="right">
                                <template #header>
                                    <el-input v-model="search"
                                              size="mini"
                                              placeholder="请输入搜索条件" />
                                </template>
                                <template #default="scope">
                                    <el-button size="mini"
                                               @@click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                                    <el-button size="mini"
                                               type="danger"
                                               @@click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                  
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.service-page -->

</div>




<script>
    $(function () {
        $('.bottom-footer').hide();

    })
</script>
<script>


    var OfficeStandards = new Vue({
        el: '#personal',
        data: {
            langCode: "",
            NAVMainPage: "",
            CustomPage: "",
            tableHeight: "",
            tableData: [],
            search: '',
            LoginUsername:'',
            value:0,
        },
      
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getList: function () {

                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection_Customer/GetCustomerList",
                    params: {
                        langCode: this.langCode,
                        userName: this.LoginUsername,
                        token:"",
                    }
                }).then(function (response) {  //接口返回数据
                    this.tableData = response.body;
     
                }, function (error) {
                    console.log(error);
                })

            },
            initPage: function (event) {
                var height = window.innerHeight - 50;
                this.tableHeight = height;

                var code = GetLanguCode();
                this.langCode = code;
                this.LoginUsername = GetLoginUsername();
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
           
        }
    })
    //语言加载
    OfficeStandards.initPage();

    OfficeStandards.getList();
    
</script>
