
@{
    ViewBag.Title = "testpage";
}


<div class="carNewRightNavTop">
    <ul class="carNewRightTop">
        <li class="itemStyle  borderblack">
            <a class="itemStyle">
                <p class="bigWords wordActive">立柱</p>
                <div class="smallWords">
                    <p>JC35TS</p>
                </div>
            </a>
        </li>

        <li class="itemStyle">
            <a class="itemStyle">
                <p class="bigWords">立柱</p>
                <div class="smallWords">
                    <p>后驱</p>
                </div>
            </a>
        </li>


    </ul>
</div>