<nav class="main-menu">
    <div class="container">
        <div class="logo-box">
            <a href="/JCSelection/main" aria-label="logo image"><img src="/assets/images/logo-dark.png" width="155" alt=""></a>
            <span class="fa fa-bars mobile-nav__toggler"></span>
        </div><!-- /.logo-box -->
        <ul class="main-menu__list">
            <li class="dropdown">
                <a href="index.html">Configuration</a>
                <ul>
                    <li>
                        <a href="index.html">Home One</a>
                    </li>
                    <li><a href="index-2.html">Home Two</a></li>
                    <li class="dropdown">
                        <a href="#">Header Styles</a>
                        <ul>
                            <li><a href="index.html">Header One</a></li>
                            <li><a href="index-2.html">Header Two</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="search-btn search-toggler">
                <a href="#"><i class="pylon-icon-magnifying-glass"></i></a>
            </li>
        </ul>
        <!-- /.main-menu__list -->

        <div class="main-header__info" id="nav_langu_box">
            <ul class="main-menu__list">
                <li class="dropdown">
                    <div class="blog-card__author">
                        <img src="/assets/images/blog/blog-author-1-1.png" alt="">唐文杰
                    </div><!-- /.blog-card__author -->
                    <ul>
                        <li>
                            <a href="index.html">Home One</a>
                        </li>
                        <li><a href="index-2.html">Home Two</a></li>
                        <li class="dropdown">
                            <a href="#">Header Styles</a>
                            <ul>
                                <li><a href="index.html">Header One</a></li>
                                <li><a href="index-2.html">Header Two</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            
                <li class="dropdown">
                    <a href="#" id="defaultLanguage" :data-langu="defaultLanguageCode">{{defaultLanguage}}</a>
                    <ul>
                        <li v-for="langu in list">
                            <langu-a :url="'/JCSelectionLanguage/ChangeLangu?langu='+langu.LanguageCode" :text="langu.LanguageDesript" ></langu-a>
                        </li>

                    </ul>

                </li>
            </ul>
            <!--<div class="main-header__info-phone">
                <i class="pylon-icon-pin1"></i>
                <div class="main-header__info-phone-content">
                    <span>Call Anytime</span>
                    <h3><a href="tel:0575-86287980">0575-86287980</a></h3>
                </div>--><!-- /.main-header__info-phone-content -->
            <!--</div>--><!-- /.main-header__info-phone -->
        </div><!-- /.main-header__info -->

    </div><!-- /.container -->
</nav>

<script>
    Vue.component('langu-a', {
        data: function () {
            return {
                data: '',
            }
        },
        props: ['url', 'text'],
        template: ' <a :href="url">{{text}}</a>'
    })

    var nav_langu_box = new Vue({
        el: '#nav_langu_box',
        data: {
            defaultLanguage: '',
            defaultLanguageCode: '',
            list: null,
        },
        // 在 `methods` 对象中定义方法
        methods: {
            initNav: function (event) {


                var CustomLang = '@Session["PageLanguage"].ToString()';
                //如果客户语言
                if (CustomLang == 'default') {
                    var lang = navigator.language || navigator.userLanguage;//常规浏览器语言和IE浏览器
                    lang = lang.substr(0, 2);//截取lang前2位字符
                    this.defaultLanguageCode = lang;
                }
                else {
                    this.defaultLanguageCode = CustomLang;
                }
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelectionLanguage/GetLanguagesDetail",
                    params: {
                        keys: '123',
                        code: this.defaultLanguageCode,
                    }
                }).then(function (response) {  //接口返回数据
                    this.defaultLanguage = response.body.LanguageShortDesript;
                }, function (error) {
                })



            },

            initlangubox: function (event) {

                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelectionLanguage/GetLanguages",
                    params: {
                        keys: '123',
                    }
                }).then(function (response) {  //接口返回数据
                    this.list = response.body;
                }, function (error) {
                })
            }
        }
    });
    nav_langu_box.initNav();
    nav_langu_box.initlangubox();



  
</script>