<nav class="main-menu">
    <div class="container">
        <div class="logo-box">
            <a href="/JCSelection/main" aria-label="logo image"><img src="/assets/images/logo-dark.png" width="155" alt=""></a>
            <span class="fa fa-bars mobile-nav__toggler"></span>
        </div><!-- /.logo-box -->
        <ul class="main-menu__list">
            <li class="dropdown">
                <a href="index.html">EService</a>
                <ul>
                    <li>
                        <a href="index.html">Home One</a>
                    </li>
                    <li><a href="index-2.html">Home Two</a></li>
                    <li class="dropdown">
                        <a href="#">Header Styles</a>
                        <ul>
                            <li><a href="index.html">Header One</a></li>
                            <li><a href="index-2.html">Header Two</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="search-btn search-toggler">
                <a href="#"><i class="pylon-icon-magnifying-glass"></i></a>
            </li>
        </ul>
        <!-- /.main-menu__list -->

        <div class="main-header__info">
            <div class="main-header__info-phone">
                <i class="pylon-icon-tech-support"></i>
                <div class="main-header__info-phone-content">
                    <span>Call Anytime</span>
                    <h3><a href="tel:92-666-888-0000">92 666 888 0000</a></h3>
                </div><!-- /.main-header__info-phone-content -->
            </div><!-- /.main-header__info-phone -->
        </div><!-- /.main-header__info -->
    </div><!-- /.container -->
</nav>
