
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reass</title>
    <style>
        * {
            font-family: 'Microsoft YaHei';
            color: #2d2c2c;
        }

        body {
            background-color: #EFF2F6;
        }

        .div_emain {
            padding: 2rem;
            width: 700px;
            margin: 0 auto;
        }

        .footText {
            color: #0F4680;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="div_emain">
        <div>
            <img src="//img201.yun300.cn/img/jcxlogo.png?tenantId=150725&viewType=1&k=1621414521000" />
        </div>
        <div>
            <h2>User register </h2>
            <p>Your account is being registered as a user，Here's your verification:</p>
            <h3>20927</h3>
            <p>
                If you have seen the above information, please ignore this email.
            </p>

            <br />
            <h4>
                User register notice
            </h4>
            <p>
                Jiecang configuration system,Any text, pictures, graphics, audio and/or video materials contained in the network services provided by the system are protected by copyright, trademark and/or other property ownership laws.
            </p>
            <p>
                Unless otherwise mandatory by law, without the consent of the relevant right holder, no unit or individual shall in any way illegally copy, reprint, quote, link, grab or otherwise use the information content of this site in whole or in part;Otherwise, the owner of the system has the right to pursue its legal responsibility.
            </p>

            <br />
            <h4>Best Regards:</h4>
            <p>Jiecang Configration team</p>

            <h4 class="footText"></h4>
        </div>
    </div>
</body>
</html>
