
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reass</title>
    <style>
        * {
            font-family: 'Microsoft YaHei';
            color: #2d2c2c;
        }

        .div_emain
        {
            padding:2rem;
            width:700px;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="div_emain"> 
        <div>
            <img src="//img201.yun300.cn/img/jcxlogo.png?tenantId=150725&viewType=1&k=1621414521000"/>
        </div>
        <div>
            <h2>用户注册</h2>
            <p>您的账号正在修改密码，以下是您的验证码：</p>
            <h3>20927</h3>
            <p>

                日期与时间： 2021年6月11日，下午05时25分 PDT<br>
                如果您看过上述信息，请忽略此电子邮件。
            </p>

            <br />
            <h4>
                New User Benefits:
            </h4>
            <p>
                Learn trading knowledge for free;
                Take part in tasks or lucky draws and get rewards;
                Official announcements pushed in time.
            </p>


            <br />
            <p>此致</p>
            <p>Gemmy Configration 团队</p>


        </div>
    </div>
</body>
</html>
