
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reass</title>
    <style>
        * {
            font-family: 'Microsoft YaHei';
            color: #2d2c2c;
        }
        body {
            background-color: #EFF2F6;
        }
        .div_emain
        {
            padding:2rem;
            width:700px;
            margin:0 auto;
        }
        .footText {
            color: #0F4680;
            text-align:center;

        }
    </style>
</head>
<body>
    <div class="div_emain"> 
        <div>
            <img src="//img201.yun300.cn/img/jcxlogo.png?tenantId=150725&viewType=1&k=1621414521000"/>
        </div>
        <div>
            <h2>用户注册</h2>
            <p>您的账号正在修改密码，以下是您的验证码：</p>
            <h3>20927</h3>
            <p>

                日期与时间： 2021年6月11日，下午05时25分 PDT<br>
                如果您看过上述信息，请忽略此电子邮件。
            </p>

            <br />
            <h4>
                注册须知
            </h4>
            <p>
                本系统提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护。
            </p>
            <p>
                除法律另有强制性规定外，未经相关权利人同意，任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容；否则，本系统所有者有权追究其法律责任。
            </p>


            <br />
            <p>此致</p>
            <p>捷昌 Configration 团队</p>

            <h4 class="footText"></h4>
        </div>
    </div>
</body>
</html>
