
@{
    ViewBag.Title = "FileSearch";
}

<style>
    .el-divider--horizontal{
        width:100%;
    }
    #shjahs {
        /*width: 100%;

        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 5px;
        padding-right: 5px;*/
        /*background-color: #F2F3F4;*/
        /*min-height: 500px;
        height: calc(100vh - 300px);*/
        border: 0;
        margin: 0;
        padding: 0;
        height: 618px;
        width: 100%;
    }

    #asas {
        height: 100%;
        margin-top:30px;
    }

</style>
<div id="filesearch">
    <div class="page-header" style="height:53px;">
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">{{NAVMainPage}}</a>/
            <a class="navigation_a">{{FileSearchTitle}}</a>
        </div>
    </div>
    <div class="container" style="margin-top:20px;margin-bottom:20px;">
        
        <div align="center">
            <el-divider></el-divider>
        </div>
        <div>
            <span>{{FileSearchSelectType}}</span>
            <el-select v-model="partType" placeholder="">
                <el-option :label="FileSearchSelectColumn" value="column"></el-option>
                <el-option :label="FileSearchSelectHandset" value="HandSet"></el-option>
                <el-option :label="FileSearchSelectControlbox" value="ControlBox"></el-option>
                <el-option :label="FileSearchSelectFoot" value="foot"></el-option>
                <el-option :label="FileSearchSelectSidebracket" value="SideBracket"></el-option>
                <el-option :label="FileSearchSelectFrame" value="frame"></el-option>
                <el-option :label="FileSearchSelectPowercable" value="Powercable"></el-option>
                <el-option :label="FileSearchSelectAccessory" value="accessory"></el-option>
                <el-option :label="FileSearchSelectDesk" value="desk"></el-option>
            </el-select>
            <span></span>
            <span>{{FileSearchSelectFileType}}</span>
            <el-select v-model="Nature" multiple collapse-tags placeholder="">
                <el-option :label="FileSearchSelectFileTypeDesc" value="产品介绍"></el-option>
                <el-option :label="FileSearchSelectFileType2D" value="产品图2D"></el-option>
                <el-option :label="FileSearchSelectFileType3D" value="产品图3D"></el-option>
                <el-option :label="FileSearchSelectFileTypeCert" value="认证"></el-option>
                <el-option :label="FileSearchSelectFileTypeDoc" value="文件资料"></el-option>
            </el-select>
            <span>{{FileSearchMode}}</span>
            <el-input v-model="Mode" style="width:30%"></el-input>
            <el-button @@click="searchclick" icon="el-icon-search" style="background-color:#008fd5;color:#fff">{{FileSearchModeBtn}}</el-button>
        </div>
        <div id="asas"></div>
    </div>
    
</div>

<script>
    var filesearch = new Vue({
        el: "#filesearch",
        data: {
            NAVMainPage: '',
            CustomPage: '',
            partType: '',
            Nature: '',
            Mode: '',


            FileSearchTitle: "",
            FileSearchSelectType: "",
            FileSearchSelectColumn: "",
            FileSearchSelectHandset: "",
            FileSearchSelectControlbox: "",
            FileSearchSelectFoot: "",
            FileSearchSelectSidebracket: "",
            FileSearchSelectFrame: "",
            FileSearchSelectPowercable: "",
            FileSearchSelectAccessory: "",
            FileSearchSelectDesk: "",
            FileSearchSelectFileType: "",
            FileSearchSelectFileTypeDesc: "",
            FileSearchSelectFileType2D: "",
            FileSearchSelectFileType3D: "",
            FileSearchSelectFileTypeCert: "",
            FileSearchSelectFileTypeDoc: "",
            FileSearchMode: "",
            FileSearchModeBtn: ""

        },
        methods: {
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var level = GetLoginLevel();
                if (level < 1) {
                    window.location.href = "/JCSelection/main";
                }
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                        // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);
                    }
                }
                var url = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation&languageIso=" + this.langCode;
                var i = '<iframe scrolling="yes"  id="shjahs"  alt=""  src = ""/>';

                $('#asas').append(i);
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
            searchclick: function (event) {
                
                var nature = '';
                for (var i = 0; i < this.Nature.length; i++) {
                    if (i < this.Nature.length - 1) {
                        nature += this.Nature[i] + '|';
                    }
                    else {
                        nature += this.Nature[i];
                    }
                }
                //console.log(nature);
                var src = "/JCSelection/FileTree?parttype=" + this.partType + "&nature=" + nature + "&mode=" + this.Mode;
                //console.log(src);
                $("#shjahs").attr({
                    "src": src
                });
            }
        },
    })
    filesearch.initPage();
</script>

