
@{
    ViewBag.Title = "main";
}

<style>
    .loginbox
    {
        width:200px
    }
    .row {
        justify-content: space-around;
    }
</style>

<div class="loginbox">
    
</div>
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
        "slidesPerView": 1,
        "loop": true,
        "effect": "fade",
        "autoplay": {
            "delay": 5000
        },
        "navigation": {
            "nextEl": "#main-slider__swiper-button-next",
            "prevEl": "#main-slider__swiper-button-prev"
        }
    }'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/bg.png);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>一切皆可定制</p>
                            <h2>
                                Customized
                                All Your
                                Needs
                            </h2>
                            <a href="/JCSelection/office" class=" thm-btn">Start</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/bg.png);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>一切皆可定制</p>
                            <h2>
                                Customized
                                All Your
                                Needs
                            </h2>
                            <a href="/JCSelection/office" class=" thm-btn">Start</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/bg.png);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>一切皆可定制</p>
                            <h2>
                                Customized
                                All Your
                                Needs
                            </h2>
                            <a href="/JCSelection/office" class="thm-btn">Start </a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
        </div><!-- /.swiper-wrapper -->
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i class="pylon-icon-left-arrow"></i></div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i class="pylon-icon-right-arrow"></i></div>
        </div><!-- /.main-slider__nav -->

    </div><!-- /.swiper-container thm-swiper__slider -->
    <!--<div class="feature-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
                    <div class="feature-two__box">
                        <i class="pylon-icon-consumer-behavior"></i>
                        <p>
                            Quick Payment
                            Process
                        </p>
                    </div>-->
    <!-- /.feature-two__box -->
    <!--</div>--><!-- /.col-lg-4 col-md-6 -->
    <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
        <div class="feature-two__box">
            <i class="pylon-icon-point-of-sale"></i>
            <p>
                No Prepayment
                Fees
            </p>
        </div>-->
    <!-- /.feature-two__box -->
    <!--</div>--><!-- /.col-lg-4 col-md-6 -->
    <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container -->
    <!--</div>--><!-- /.feature-two -->
</section><!-- /.main-slider -->

<div id="office_selectbox">
    <section class="feature-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-title text-center">
                        <p>{{MainConfigurationTool}}</p>
                        <h2></h2>
                    </div><!-- /.block-title -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-one__box" @@click="Toconfiguration">
                        <i class="pylon-icon-assets"></i>
                        <p>
                            {{MainProductConfigurationTool}}
                        </p>
                    </div><!-- /.feature-one__box -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="feature-one__box" @@click="Tofiles">
                        <i class="pylon-icon-verification"></i>
                        <p>
                            {{MainProductFiles}}
                        </p>
                    </div><!-- /.feature-one__box -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="feature-one__box" @@click="ToOrder">
                        <i class="pylon-icon-finance"></i>
                        <p>
                            {{MainMyOrder}}
                        </p>
                    </div><!-- /.feature-one__box -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <el-dialog title="订单系统申请" :visible.sync="dialogorderapply">
            <el-form ref="orderform" :model="orderform" :rules="rules" label-width="150px">
                <el-form-item label="申请邮箱" prop="Mode">
                    <el-input v-model="orderform.email" style="width:60%;" disabled></el-input>
                </el-form-item>
                <el-form-item label="公司名称" prop="Mode">
                    <el-input v-model="orderform.companyname" style="width:60%;"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="addonSubmit('orderform')">申请</el-button>
            </div>
        </el-dialog>
        <el-dialog title="订单系统申请" :visible.sync="dialoghaveorderapply">
            <i class="el-icon-check">你的申请已经在进行，请耐心等待</i>
        </el-dialog>
    </section><!-- /.feature-one -->
</div>

<script>
    var office_selectbox = new Vue({
        el: '#office_selectbox',
        data: {
            MainConfigurationTool: "",
            MainProductConfigurationTool: "",
            MainProductFiles: "",
            MainMyOrder: "",
            MainAllowNotice:"",
            UserLevel: 0,
            UserEmail: '',
            UserCompanyName: '',
            isorder: false,
            haveorderapply: false,
            dialogorderapply: false,
            dialoghaveorderapply: false,
            orderform: {
                email: '',
                companyname: '',
            },
            formLabelWidth: '120px',
            rules: {
                email: [
                    { required: true }
                ],
                company: [
                    { required: true }
                ],
            }
        },
        // 在 `methods` 对象中定义方法
        methods: {
            initPage: function (event) {
                var code = GetLanguCode();
                this.UserLevel = GetLoginLevel();
                this.UserEmail = GetLoginUsername();
                $.ajaxSettings.async = false;

                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;

                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                        this.setData(key, value);;
                    }
                }
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/getCompanyapply",
                    params: {
                        username: this.UserEmail
                    }
                }).then(function (response) {  //接口返回数据
                    if (response.body == true) {
                        this.haveorderapply = true;
                    }
                }, function (error) {
                })
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);
                ////如果需要提交请求,下面这样是不行的,提交的是field字符串
                //$.post('url', { field: val }, function () { });
                ////需要这样
                //var json = {};
                //json[field] = value
                //$.post('url', json, function () { });

            },
            Toconfiguration: function (event) {
                if (this.UserLevel >= 1) {
                    window.location.href = "/JCSelection/office_Eservice_test?Type=TS";
                }
                else {
                    this.$message({
                        type: 'error',
                        message: this.MainAllowNotice
                    });
                }
            },
            Tofiles: function (event) {
                if (this.UserLevel >= 1) {
                    window.location.href = "/JCSelection/FileSearch";
                }
                else {
                    this.$message({
                        type: 'error',
                        message: this.MainAllowNotice
                    });
                }
            },
            ToOrder: function (event) {
                console.log(this.haveorderapply);
                if (this.UserEmail != '' && this.UserEmail != null) {
                    this.$http({           //调用接口
                        method: 'GET',
                        url: "/JCSelection/getCompanyName",
                        params: {
                            username: this.UserEmail
                        }
                    }).then(function (response) {  //接口返回数据

                        if (response.body.CompanyName == '' || response.body.CompanyName == null) {
                            if (this.haveorderapply == true) {
                                this.dialoghaveorderapply = true;
                            }
                            else {
                                this.dialogorderapply = true;
                                this.orderform.email = this.UserEmail;
                            }

                        }
                        else {
                            if (response.body.isorder == false) {
                                this.$message({
                                    type: 'error',
                                    message: this.MainAllowNotice
                                });
                            }
                            else {
                                window.location.href = "/JCSelection/orderlist";
                            }
                        }
                        //console.log(response.body);
                    }, function (error) {
                        //console.log(error);
                    })
                }
                else {
                    this.$message({
                        type: 'error',
                        message: this.MainAllowNotice
                    });
                }
                                  
            },
            addonSubmit(formname) {
                console.log(this.haveorderapply);
                this.$refs[formname].validate((valid) => {
                    if (valid) {
                        this.$http({           //调用接口
                            method: 'POST',
                            url: "/JCSelection/addcompanyapply",
                            params: {
                                forminfo: JSON.stringify(this.orderform),
                            }
                        }).then(function (response) {
                            //console.log(response.body);
                            this.isadd = response.body;
                            if (this.isadd == true) {
                                this.$notify({
                                    message: '提交成功',
                                    type: 'success'
                                });
                                //location.reload();
                            }
                        })


                        //this.$notify({
                        //    message: '提交成功',
                        //    type: 'success'
                        //});

                    }
                    else {
                        this.$notify.error('缺少内容');

                    }
                })
            },
        }
    })

    office_selectbox.initPage();
</script>