
@{
    ViewBag.Title = "main";
}

<style>
    .loginbox
    {
        width:200px
    }
</style>
<div class="loginbox">


</div>
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
        "slidesPerView": 1,
        "loop": true,
        "effect": "fade",
        "autoplay": {
            "delay": 5000
        },
        "navigation": {
            "nextEl": "#main-slider__swiper-button-next",
            "prevEl": "#main-slider__swiper-button-prev"
        }
    }'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/main-slider-1-1.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>产品选型 & 定制化</p>
                            <h2>
                                Customization
                                All Your
                                Needs
                            </h2>
                            <a href="/JCSelection/office" class=" thm-btn">Start</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/main-slider-1-2.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>Simple & Secure Payment Process</p>
                            <h2>
                                Customization
                                All Your
                                Needs
                            </h2>
                            <a href="#" class=" thm-btn">Start</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/main-slider-1-1.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <p>产品选型 & 定制化</p>
                            <h2>
                                Customization
                                All Your
                                Needs
                            </h2>
                            <a href="#" class=" thm-btn">Start </a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
        </div><!-- /.swiper-wrapper -->
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i class="pylon-icon-left-arrow"></i></div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i class="pylon-icon-right-arrow"></i></div>
        </div><!-- /.main-slider__nav -->

    </div><!-- /.swiper-container thm-swiper__slider -->
    <!--<div class="feature-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
                    <div class="feature-two__box">
                        <i class="pylon-icon-consumer-behavior"></i>
                        <p>
                            Quick Payment
                            Process
                        </p>
                    </div>-->
    <!-- /.feature-two__box -->
    <!--</div>--><!-- /.col-lg-4 col-md-6 -->
    <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms">
        <div class="feature-two__box">
            <i class="pylon-icon-point-of-sale"></i>
            <p>
                No Prepayment
                Fees
            </p>
        </div>-->
    <!-- /.feature-two__box -->
    <!--</div>--><!-- /.col-lg-4 col-md-6 -->
    <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container -->
    <!--</div>--><!-- /.feature-two -->
</section><!-- /.main-slider -->


<section class="feature-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-title text-center">
                    <p>Configuration 配置工具</p>
                    <h2></h2>
                </div><!-- /.block-title -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-one__box">
                    <i class="pylon-icon-assets"></i>
                    <p>
                        产品配置工具
                    </p>
                </div><!-- /.feature-one__box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="feature-one__box">
                    <i class="pylon-icon-verification"></i>
                    <p>
                        产品资料
                    </p>
                </div><!-- /.feature-one__box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="feature-one__box">
                    <i class="pylon-icon-finance"></i>
                    <p>
                        我的订货清单
                    </p>
                </div><!-- /.feature-one__box -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.feature-one -->
