
@{
    ViewBag.Title = "OfficeStandards";
}

<style>
    #selectTypeBox {
        min-height: 580px;
        height: calc(100vh - 205px);
        overflow: auto;
    }

    #OfficeStandards_box {
        padding: 0;
    }

    .service-sidebar__category {
        padding: 20px 20px;
    }
    /* .service-sidebar__category-list li a {
        font-weight:800;
    }*/

    .changeFont {
        color: #000000;
        font-weight: 900;
    }
    .part_detail_icon {
        width: 18% !important;
        height: 20%;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer
    }

    .imgDiv {
        display: inline-block;
        position: relative;
    }

    .imgDiv:hover {
        background-color: rgb(12 33 57 / 0.3);
    }
</style>
<div id="OfficeStandards">


    <section class="page-header" style="height:53px;">
        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">{{NAVMainPage}}</a>/
            <a class="navigation_a" href="/JCSelection/office">{{NAVOfficePage}}</a>/
            <a class="navigation_a">@ViewBag.Type</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="blog-page pt-20 pb-20">
        <div class="container">
            <div class="row" id="OfficeStandards_box">

                <div class="col-lg-3">
                    <div class="blog">
                        <div class="blog-sidebar__box blog-sidebar__category service-sidebar__category">
                            <h6 style="margin:10px;" class="blog-sidebar__box-title">{{t_OfficeStandards_1}}</h6><!-- /.blog-sidebar__title -->
                            <input type="text" class="form-control searchInput" v-model="searchText" @@keyup.enter="getallDesk" />

                            <h2 style="margin:10px;" class="blog-sidebar__box-title">{{DeskConfigurationName}}</h2><!-- /.blog-sidebar__title -->
                            <ul class="list-unstyled service-sidebar__category-list">
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=all"><span v-if="recommend=='all'" class="changeFont">{{deskAll}}</span><span v-else>{{deskAll}}</span></a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=newProduct"><span v-if="recommend=='newProduct'" class="changeFont">{{NewProductName}}</span><span v-else>{{NewProductName}}</span></a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=jiecangProduct"><span v-if="recommend=='jiecangProduct'" class="changeFont">{{JCRecommendName}}</span><span v-else>{{JCRecommendName}}</span></a></li>


                                @if (Session["emailName"] != null && Session["emailName"].ToString() != "")
                                {
                                    <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=myCollect"><span v-if="recommend=='myCollect'" class="changeFont">{{MyCollectName}}</span><span v-else>{{MyCollectName}}</span></a></li>
                                    <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=customer"><span v-if="recommend=='customer'" class="changeFont">{{CustomerName}}</span><span v-else>{{CustomerName}}</span></a></li>

                                }
                                @*   <li><a href="/JCSelection/office_Eservice_test">{{t_OfficeStandards_2}}</a></li>*@
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.blog-sidebar__box -->

                        @if (Session["emailName"] != null && Session["emailName"].ToString() != "")
                        {
                            <div class="blog-sidebar__box blog-sidebar__category service-sidebar__category">
                                <h2 style="margin:10px;" class="blog-sidebar__box-title">{{OfficeStandardsCustomzed}}</h2><!-- /.blog-sidebar__title -->
                                <ul class="list-unstyled service-sidebar__category-list">
                                    <li><a href="/JCSelection/office_Eservice_test?Type=@ViewBag.Type">{{t_OfficeStandards_2}}</a></li>
                                </ul><!-- /.list-unstyled -->
                            </div><!-- /.blog-sidebar__box -->
                        }

                    </div><!-- /.blog-sidebar -->
                    <!--<div class="blog-sidebar">
                        <div class="blog-sidebar__box blog-sidebar__category service-sidebar__category">

                        </div>-->
                    <!-- /.blog-sidebar__box -->
                    <!--</div>--><!-- /.blog-sidebar -->


                </div><!-- /.col-lg-4 -->
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:10px;">
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskNewProductNumber')">{{deskNewProductNumber}}<span style="margin-left:8px" v-if="OrderValue=='deskNewProductNumber'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskNewProductNumber'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskSalesVolume')">{{deskSalesVolume}}<span style="margin-left:8px" v-if="OrderValue=='deskSalesVolume'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskSalesVolume'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskPrice')">{{deskPrice}}<span style="margin-left:8px" v-if="OrderValue=='deskPrice'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskPrice'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskStabilityLeave')">{{deskStabilityLeave}}<span style="margin-left:8px" v-if="OrderValue=='deskStabilityLeave'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskStabilityLeave'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskMaxLoad')">{{deskMaxLoad}}<span style="margin-left:8px" v-if="OrderValue=='deskMaxLoad'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskMaxLoad'&&Order==2">↓</span></button>
                        </div>
                    </div>
                    <div class="row" id="selectTypeBox">
                        <div class="col-lg-4 col-md-6 mb-20" v-for="item in deskList">
                            <div class="blog-card" >
                                <div class="blog-card__image">
                                    <span v-if="item.deskTag!=''">{{item.deskTag}}</span>
                                    <div  @@mouseenter="mouse_plan = item.Id" @@mouseleave="mouse_column = ''">
                                        <img class=".img-responsive" style="height: 240px;" :src="item.deskImgUrl"  v-on:click="window.location='/JCSelection/ProductDetail?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=@ViewBag.recommend&productName='+item.deskSerialName+'&productGuid='+item.deskGuid"/>
                                        <img v-if="recommend=='customer'" v-show="mouse_plan == item.Id" src="~/resourse/Img/delete_icon.png" class="part_detail_icon" v-on:click="Deleteplan(item.Id)" />  
                                    </div>
                                    </div><!-- /.blog-card__image -->
                                    <div class="blog-card__content">
                                        <div class="blog-card__meta">
                                            <i></i>
                                            <a><i class="fa fa-comments"></i>{{item.deskShortDescription}}</a>
                                        </div><!-- /.blog-card__meta -->
                                        <h6><a>{{item.deskSerialName}}</a></h6>
                                    </div><!-- /.blog-card__content -->
                                </div><!-- /.blog-card -->
                        </div><!-- /.col-lg-4 col-md-6 -->

                    </div><!-- /.row -->
                    <!--<ul class="list-unstyled post-pagination d-flex justify-content-center align-items-center">
                        <li><a href="#"><i class="far fa-angle-left"></i></a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#"><i class="far fa-angle-right"></i></a></li>
                    </ul>-->
                    <!-- /.post-pagination -->
                </div><!-- /.row -->

            </div>
        </div>
    </section><!-- /.blog-page -->
</div>

<script>
    $(function () {
        $('.bottom-footer').hide();
    })
</script>

<script>

    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {
            OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList: null,
            searchText:"",
            mouse_plan:'',
            DeskConfigurationName: "",
            deskAll:"",
            NewProductName: "",
            JCRecommendName: "",
            MyCollectName: "",
            CustomerName: "",
            t_OfficeStandards_1: "",
            t_OfficeStandards_2: "",

            //------文本----
            deskNewProductNumber: "",
            deskSalesVolume: "",
            deskPrice: "",
            deskStabilityLeave: "",
            deskMaxLoad: "",
            NAVMainPage: "",
            NAVOfficePage: "",
            OfficeStandardsCustomzed: "",
            OfficeStandardsDeleteplansuccessfulnotice: "",
            OfficeStandardsDeleteplanfailnotice: ""
            //------文本 end ----
        },
        watch: {
            OrderValue: function (val) {
                this.getallDesk();
            },
            Order: function (val) {
                this.getallDesk();
            }
        },
        methods: {
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }

            },
            getallDesk: function (event) {

                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeStards",
                    params: {
                        domain: this.domain,
                        Type: this.Type,
                        recommend: this.recommend,
                        Order: this.Order,
                        OrderValue: this.OrderValue,
                        langCode: this.langCode,
                        searchText: this.searchText,
                    }
                }).then(function (response) {  //接口返回数据

                    this.deskList = response.body;
                    console.log(response.body);


                }, function (error) {
                })
            },
            orderBtnClick: function (ordervalue) {

                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },
            Deleteplan: function (id) {
                console.log(id);
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/DeleteCustomer",
                    params: {
                        id:id,
                    }
                }).then(function (response) {  //接口返回数据
                    console.log(response.body);
                    if (response.body == true) {
                        this.$notify({
                            message: this.OfficeStandardsDeleteplansuccessfulnotice,
                            type: 'success'
                        });
                        location.reload();
                    }

                    else {
                        this.$notify.error(this.OfficeStandardsDeleteplanfailnotice);
                    }
                }, function (error) {
                })
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
        }
    })

    //$(".service-sidebar__category-list li a").each(function (v, elm) {
    //    var $a = $(this);

    //    if ($a.data('anchor') == recommend) {
    //        $a.addClass("changeFont");
    //    }
    //});

    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getallDesk();
</script>