
@{
    ViewBag.Title = "office_Eservice3D";
}


<style>
    #asas {
        height: 800px;
       min-width:1230px;
    }

    #shjahs {
        border: 0;
        margin: 0;
        padding: 0;
        height: 642px;
        width: 871px;
    }
    #iDisplayBox {
        margin-top: 20px;
        position: relative;
    }
    #player {
        height: 36px;
        width: 871px;
        background-color: #fff;
        position:absolute;
        bottom:0px;
    }
</style>
<section class="page-header" style="height:53px;">

    @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
    <!-- /.page-header__bg -->
    <div class="container" style="padding:10px 10px ">
        <a class="navigation_a" href="/JCSelection/main">主页</a>/
        <a class="navigation_a">自定义配置</a>
    </div><!-- /.container -->
</section><!-- /.page-header -->


<section>
    <div class="container">
        <div class="col-lg-12">


            <div class="col-lg-8">

                <div id="iDisplayBox">
                    <div class="player" id="player">
                    </div>


                </div>
                <h3>选择下载格式</h3>
                <select id="format">
                    <option value="DXF2D">DXF2D</option>
                    <option value="CREO5">CREO5</option>
                    <option value="SOLIDWORKS">SOLIDWORKS</option>
                    <option value="DWG2D">DWG2D</option>
                    <option value="PDFDATASHEET">PDFDATASHEET</option>
                </select>
                <button onclick="order()">文件下载</button>
            </div>
            

        </div>
    </div>
    <div class="col-lg-8">
        
    </div>
    
</section>
<script>
    $(function () {
        var m = '<iframe scrolling="no"  id="shjahs"  alt=""  src = ""/>';
        $('#iDisplayBox').append(m);
    })
    var download_xml = "";
    function render(data) {
        var doc = $(data);
        console.log(doc);
        var htmlfile = doc.find("HTMLFILE").text();
        console.log(htmlfile);
        var zipfile = doc.find("ZIPFILE").text();
        console.log(zipfile);
        if (htmlfile != "") {
            $("#shjahs").attr("src", download_xml.replace(/download.xml/, htmlfile));
            $("#part2cadresult").show();
        } else {
            // normal zip file download part...
            $("#shjahs").attr({ "src": "https://webapi.partcommunity.com/cgi-bin/cgi2pview.exe?cgiaction=preview&part={jiecang/lifting_table/jc36ts/jc36ts_asmtab.prj},{CC=R13S},{COLOUR=B}&firm=jiecang&apikey=e20d66d8bb834f2497a101cff347a2d0"});
            window.location = download_xml.replace(/download.xml/, zipfile);
        }
    }
    function checkFile() {
        $.get(download_xml, function (data) {
            render(data);
        }).fail(function () {
            window.setTimeout("checkFile();", 1000);
        });
    }

    function order() {
        console.log(download_xml);
        $.post("https://webapi.partcommunity.com/cgi-bin/cgi2pview.exe", {
            cgiaction: "download",
            downloadflags:"ZIP",
            part: "{jiecang/lifting_table/jc36ts/jc36ts_asmtab.prj},{CC=R13S},{COLOUR=B}",
            firm: "jiecang",
            format: document.getElementById("format").value,
            ok_url: "<%download_xml%>", // format of the url to generate
            ok_url_type: "text", // we want a direct text response (no 302)
            apikey: "e20d66d8bb834f2497a101cff347a2d0",
            zipfilename: "Jiecang<%wkbno%>",
            language:'english',
            }).done(function (data) {
                download_xml = data; // get the file name for polling
                console.log(data);
                checkFile(); // start polling
            });

    }
    

</script>
