
@{
    ViewBag.Title = "OfficeStandards";
}

<style>
    #selectTypeBox {
        min-height: 580px;
        height: calc(100vh - 230px);
        overflow: auto;
    }
    #OfficeStandards_box
    {
        padding:0;
    }
    .orderbtn
    {
        width:160px;
    }
</style>
<div id="OfficeStandards">


    <section class="page-header" style="height:53px;">

        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">主页</a>/
            <a class="navigation_a" href="/JCSelection/office">办公标准配置</a>/
            <a class="navigation_a">@ViewBag.Type</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="blog-page pt-20 pb-40">
        <div class="container">
            <div class="row" id="OfficeStandards_box">

                <div class="col-lg-3">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar__box blog-sidebar__category service-sidebar__category">
                            <h3 class="blog-sidebar__box-title">{{DeskConfigurationName}}</h3><!-- /.blog-sidebar__title -->
                            <ul class="list-unstyled service-sidebar__category-list">
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=newProduct">{{NewProductName}}</a></li>


                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=jiecangProduct">{{JCRecommendName}}</a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=myCollect">{{MyCollectName}}</a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=customer">{{CustomerName}}</a></li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.blog-sidebar__box -->

                    </div><!-- /.blog-sidebar -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-9 col-md-9" id="selectTypeBox">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:10px;">
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskNewProductNumber')">{{deskNewProductNumber}}<span style="margin-left:8px" v-if="OrderValue=='deskNewProductNumber'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskNewProductNumber'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskSalesVolume')">{{deskSalesVolume}}<span style="margin-left:8px" v-if="OrderValue=='deskSalesVolume'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskSalesVolume'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskPrice')">{{deskPrice}}<span style="margin-left:8px" v-if="OrderValue=='deskPrice'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskPrice'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskStabilityLeave')">{{deskStabilityLeave}}<span style="margin-left:8px" v-if="OrderValue=='deskStabilityLeave'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskStabilityLeave'&&Order==2">↓</span></button>
                            <button class="orderbtn thm-btn" v-on:click="orderBtnClick('deskMaxLoad')">{{deskMaxLoad}}<span style="margin-left:8px" v-if="OrderValue=='deskMaxLoad'&&Order==1">↑</span><span style="margin-left:8px" v-if="OrderValue=='deskMaxLoad'&&Order==2">↓</span></button>


                        </div>

                    
                        <div class="col-lg-4 col-md-6 mb-20" v-for="item in deskList">
                            <div class="blog-card" v-on:click="window.location='/JCSelection/ProductDetail?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=@ViewBag.recommend&productName='+item.deskSerialName+'&productGuid='+item.deskGuid">
                                <div class="blog-card__image">
                                    <span v-if="item.deskTag!=''">{{item.deskTag}}</span>
                                    <img class=".img-responsive" style="height: 240px;" src="~/resourse/page/JC35TS-R13SF.png" />
                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <div class="blog-card__meta">
                                        <i></i>
                                        <a><i class="fa fa-comments"></i>{{item.deskShortDescription}}</a>
                                    </div><!-- /.blog-card__meta -->
                                    <h6><a>{{item.deskSerialName}}</a></h6>
                                </div><!-- /.blog-card__content -->
                            </div><!-- /.blog-card -->
                        </div><!-- /.col-lg-4 col-md-6 -->

                    </div><!-- /.row -->
                    <!--<ul class="list-unstyled post-pagination d-flex justify-content-center align-items-center">
                        <li><a href="#"><i class="far fa-angle-left"></i></a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#"><i class="far fa-angle-right"></i></a></li>
                    </ul>-->
                    <!-- /.post-pagination -->
                </div><!-- /.row -->

            </div>
        </div>
    </section><!-- /.blog-page -->
</div>


<script>

    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {
            OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList:null,

            DeskConfigurationName: "",
            NewProductName: "",
            JCRecommendName: "",
            MyCollectName: "",
            CustomerName: "",


            deskNewProductNumber: "",
            deskSalesVolume: "",
            deskPrice: "",
            deskStabilityLeave: "",
            deskMaxLoad: "",
        },
        watch: {
            OrderValue: function (val) {
                this.getallDesk();
            },
            Order: function (val) {
                this.getallDesk();
            }
        },
        methods: {
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }

            },
            getallDesk: function (event) {

                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeStards",
                    params: {
                        domain: this.domain,
                        Type: this.Type,
                        recommend: this.recommend,
                        Order: this.Order,
                        OrderValue: this.OrderValue,
                        langCode: this.langCode,
                    }
                }).then(function (response) {  //接口返回数据

                    this.deskList = response.body;
                    //console.log(response.body);


                }, function (error) {
                })
            },
            orderBtnClick: function (ordervalue) {
             
                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },

            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
        }
    })
    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getallDesk();
</script>