
@{
    ViewBag.Title = "OfficeStandards";
}

<style>
    #selectTypeBox {
        min-height: 580px;
        height: calc(100vh - 230px);
        overflow: auto;
    }
    #OfficeStandards_box
    {
        padding:0;
    }

</style>
<div id="OfficeStandards">


    <section class="page-header" style="height:53px;">

        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">主页</a>/
            <a class="navigation_a" href="/JCSelection/office">办公标准配置</a>/
            <a class="navigation_a">@ViewBag.Type</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="blog-page pt-20 pb-40">
        <div class="container">
            <div class="row" id="OfficeStandards_box">

                <div class="col-lg-3">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar__box blog-sidebar__category service-sidebar__category">
                            <h3 class="blog-sidebar__box-title">配置</h3><!-- /.blog-sidebar__title -->
                            <ul class="list-unstyled service-sidebar__category-list">
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=newProduct">新品推荐</a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=jiecangProduct">捷昌推荐</a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=myCollect">我的收藏</a></li>
                                <li><a href="OfficeStandards?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=customer">自定义</a></li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.blog-sidebar__box -->

                    </div><!-- /.blog-sidebar -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-9 col-md-9" id="selectTypeBox">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:10px;">
                            <button class="thm-btn">新品排序</button>  <button class="thm-btn">销量排序</button>  <button class="thm-btn">价格排序</button>  <button class="thm-btn">稳定排序</button>  <button class="thm-btn">负载排序</button>
                        </div>


                        <div class="col-lg-4 col-md-6 mb-20">
                            <div class="blog-card" v-on:click="window.location='http://www.baidu.com'">
                                <div class="blog-card__image">
                                    <span>新品</span>
                                    <img class=".img-responsive" style="height: 240px;" src="~/resourse/page/JC35TS-R13SF.png" />

                                </div><!-- /.blog-card__image -->
                                <div class="blog-card__content">
                                    <div class="blog-card__meta">
                                        <i></i>
                                        <a><i class="fa fa-comments"></i>快速释放</a>
                                    </div><!-- /.blog-card__meta -->
                                    <h6><a>JC35TS-R13SF</a></h6>
                                </div><!-- /.blog-card__content -->
                            </div><!-- /.blog-card -->
                        </div><!-- /.col-lg-4 col-md-6 -->

                    </div><!-- /.row -->
                    <!--<ul class="list-unstyled post-pagination d-flex justify-content-center align-items-center">
                        <li><a href="#"><i class="far fa-angle-left"></i></a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#"><i class="far fa-angle-right"></i></a></li>
                    </ul>-->
                    <!-- /.post-pagination -->
                </div><!-- /.row -->

            </div>
        </div>
    </section><!-- /.blog-page -->
</div>


<script>

    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {
            OfficeTSDeskContent: "",
            Office: "",
            OfficeTODesk: "",
            OfficeTFDesk: "",
            OfficeTTDeskContent: "",
            OfficeTODeskContent: "",
            OfficeTTDesk: "",
            DeskType: "",
            OfficeBenchDeskContent: "",
            OfficeTFDeskContent: "",
            OfficeBenchDesk: "",
            OfficeTSDesk: "",
            name: 'Vue.js'
        },
        methods: {
            initPage: function (event) {
                var code = GetLanguCode();
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                        this.setData(key, value);;
                    }
                }

            },


            setData: function (field, val) {
                this.$set(this.$data, field, val);
                ////如果需要提交请求,下面这样是不行的,提交的是field字符串
                //$.post('url', { field: val }, function () { });
                ////需要这样
                //var json = {};
                //json[field] = value
                //$.post('url', json, function () { });

            },


        }
    })
    //语言加载
    OfficeStandards.initPage();
</script>