
@{
    ViewBag.Title = "office_Eservice_test";
}


<style>
    #shjahs {
        width: 100%;
        border: 0;
        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #F2F3F4;
        min-height: 500px;
        height: calc(100vh - 170px);
    }

    * {
        font-family: 'Microsoft YaHei';
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="//unpkg.com/element-ui@2.15.1/lib/index.js"></script>

<section class="page-header" style="height:53px;">

    @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
    <!-- /.page-header__bg -->
    <div class="container" style="padding:10px 10px ">
        HOME / 标准配置选择 / 产品明细

    </div><!-- /.container -->
</section><!-- /.page-header -->


<section class="blog-page pt-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<div class="block-title text-center">
                    <p></p>
                    <h3>产品配置列表</h3>
                </div>-->
                <!-- /.block-title -->
                <div id="app">
                    <template>
                        <el-tabs v-model="activeName" @@tab-click="handleClick">
                            <el-tab-pane label="1.选择立柱" name="first"></el-tab-pane>
                            <el-tab-pane label="2.选择框架" name="second"></el-tab-pane>
                            <el-tab-pane label="3.选择地脚" name="third"></el-tab-pane>
                            <el-tab-pane label="4.选择配件" name="fourth"></el-tab-pane>
                        </el-tabs>
                    </template>
                </div>

                <script>
                    var Main = {
                        data() {
                            return {
                                activeName: 'first'
                            };
                        },
                        methods: {
                            handleClick(tab, event) {
                                console.log(tab, event);
                            }
                        }
                    };
                    var Ctor = Vue.extend(Main)
                    new Ctor().$mount('#app')
                </script>
            </div>

        </div>
    </div>
</section>

<section class="blog-page pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-details__image">
                    <div class="block-title text-left">
                        <h6>选择立柱类型</h6>
                        <img src="~/resourse/page/2jie.png" />
                        <img src="~/resourse/page/2jieR.png" />
                        <img src="~/resourse/page/3jie.png" />
                        <img src="~/resourse/page/3jieR.png" />
                    </div><!-- /.block-title -->

                </div>
            </div>
            <div class="col-lg-8">
                <div class="service-details__image" id="asas">

                </div><!-- /.service-details__image -->
            </div><!-- /.col-lg-4 -->
        </div>

    </div>


</section>





<script>

    $(function () {

     
        var i = '<iframe scrolling="no"  id="shjahs" class="img-fluid" alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36ts-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
        $('#asas').append(i);



    })

</script>
