
@{
    ViewBag.Title = "office";
}


<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li>/</li>
            <li><span>Services</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <h2>Services</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="service-page pt-120 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="service-one__card">
                    <div class="service-one__image">
                        <img src="/assets/images/services/services-1-1.png" alt="">
                    </div><!-- /.service-one__image -->
                    <div class="service-one__content">
                        <h3><a href="service-details.html">单腿桌</a></h3>
                        <p>There are many variations of passages of lorem ipsum available the majority have some.</p>
                        <a href="service-details.html" class="pylon-icon-right-arrow service-one__link"></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__card -->
            </div><!-- /.col-lg-4 col-md-6 mb-60 -->
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="service-one__card">
                    <div class="service-one__image">
                        <img src="/assets/images/services/services-1-2.png" alt="">
                    </div><!-- /.service-one__image -->
                    <div class="service-one__content">
                        <h3><a href="service-details.html">双腿桌</a></h3>
                        <p>There are many variations of passages of lorem ipsum available the majority have some.</p>
                        <a href="/JCSelection/office_Eservice" class="pylon-icon-right-arrow service-one__link"></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__card -->
            </div><!-- /.col-lg-4 col-md-6 mb-60 -->
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="service-one__card">
                    <div class="service-one__image">
                        <img src="/assets/images/services/services-1-3.png" alt="">
                    </div><!-- /.service-one__image -->
                    <div class="service-one__content">
                        <h3><a href="service-details.html">三腿桌</a></h3>
                        <p>There are many variations of passages of lorem ipsum available the majority have some.</p>
                        <a href="service-details.html" class="pylon-icon-right-arrow service-one__link"></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__card -->
            </div><!-- /.col-lg-4 col-md-6 mb-60 -->
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="service-one__card">
                    <div class="service-one__image">
                        <img src="/assets/images/services/services-1-3.png" alt="">
                    </div><!-- /.service-one__image -->
                    <div class="service-one__content">
                        <h3><a href="service-details.html">组合桌</a></h3>
                        <p>There are many variations of passages of lorem ipsum available the majority have some.</p>
                        <a href="service-details.html" class="pylon-icon-right-arrow service-one__link"></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__card -->
            </div><!-- /.col-lg-4 col-md-6 mb-60 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-page -->