
@{
    ViewBag.Title = "office_Eservice";
}
<style>
    #shjahs {
        width: 100%;
        border: 0;
        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #F2F3F4;
    }

    * {
        font-family: 'Microsoft YaHei';
    }
</style>

<!--<section class="page-header" style="height:10px;">
    <div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>-->
    <!-- /.page-header__bg -->
    <!--<div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li>/</li>
            <li><span>Services</span></li>
        </ul>--><!-- /.thm-breadcrumb list-unstyled -->
        <!--<h2>Services</h2>
    </div>--><!-- /.container -->
<!--</section>--><!-- /.page-header -->


<section class="service-details faq-one" style="padding:0px 20px 0 0;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4">
                <div class="service-details__content">
             
                    <ul id="accordion" class="mb-0 wow fadeInUp list-unstyled" data-wow-duration="1500ms">
                        <li>
                            <h2 class="para-title">
                                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="far fa-plus"></i>
                                    1.选择立柱
                                </span>
                            </h2>
                            <div id="collapseTwo" class="collapse" role="button" aria-labelledby="collapseTwo" data-parent="#accordion">
                                <p>
                                    There are many variations of the have suffer in some fo injected humour, or words
                                    believable. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li class="active">
                            <h2 class="para-title active">
                                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <i class="far fa-minus"></i>
                                   2.选择框架
                                </span>
                            </h2>
                            <div id="collapseOne" class="collapse show" aria-labelledby="collapseOne" data-parent="#accordion">
                                <p>
                                    There are many variations of the have suffer in some fo injected humour, or words
                                    believable. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2 class="para-title">
                                <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" role="button" aria-controls="collapseThree">
                                    <i class="far fa-plus"></i>
                                   3.选择地脚
                                </span>
                            </h2>
                            <div id="collapseThree" class="collapse" aria-labelledby="collapseThree" data-parent="#accordion">
                                <p>
                                    There are many variations of the have suffer in some fo injected humour, or words
                                    believable. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.service-details__content -->
            </div><!-- /.col-lg-8 -->

            <div class="col-lg-8">
                <div class="service-details__image" id="asas">

                </div><!-- /.service-details__image -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-details -->


<script>

    $(function () {

        var hint = $(window).height() - 82;
        console.log(hint);
        var i = '<iframe scrolling="no" style="height:' + hint + 'px"  id="shjahs" class="img-fluid" alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36ts-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
        $('#asas').append(i);



    })

</script>
