@model _1GemmyModel.Model.ModelUserAccount.T_USER_UserCompanyInfo
@{
    ViewBag.Title = "PersonInfo";
}

<script src="/Scripts/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<link href="/assets/eleindex.css" rel="stylesheet" />
<script src="/assets/eleindex.js"></script>
<link href="//unpkg.com/element-ui@2.15.2/lib/theme-chalk/index.css" rel="stylesheet" />

<style>
    @@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
</style>


<div id="OfficeStandards">
    <di>
        <h3 style="line-height:450%;text-align:center">完善个人信息</h3>
    </di>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
        <el-form-item label="电子邮箱" prop="Email" style="margin-left: 500px">
            <el-input v-model="ruleForm.Email" style="width:50%" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="名称" prop="Name" style="margin-left: 500px">
            <el-input v-model="ruleForm.Name" style="width:50%" :disabled="true">
            </el-input>
        </el-form-item>
        <el-form-item label="性别" prop="Sex" style="margin-left: 500px">
            <el-input v-model="ruleForm.Sex" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="联系方式" prop="Telephone" style="margin-left: 500px">
            <el-input v-model="ruleForm.Telephone" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="公司名称" prop="CompanyName" style="margin-left: 500px">
            <el-input v-model="ruleForm.CompanyName" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="公司地址（街道）" prop="CompanyStreet" style="margin-left: 500px">
            <el-input v-model="ruleForm.CompanyStreet" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="公司详细地址" prop="CompanyLocation" style="margin-left: 500px">
            <el-input v-model="ruleForm.CompanyLocation" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="公司地区" prop="CompanyNation" style="margin-left: 500px">
            <el-input v-model="ruleForm.CompanyNation" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item label="公司官网" prop="CompanyWebsite" style="margin-left: 500px">
            <el-input v-model="ruleForm.CompanyWebsite" style="width:50%">
            </el-input>
        </el-form-item>
        <el-form-item style="text-align:center">
            <el-button type="primary" @@click="submitForm('ruleForm')">立即完善</el-button>
        </el-form-item>
    </el-form>
</div>

<script src="~/Scripts/pageScript/personinfo.js"></script>
@*<script>
    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data() {
            return {
                isadd: false,
                ruleForm: {
                    Email: "@ViewBag.email",
                    Name: "@ViewBag.name",
                    Sex: '',
                    Telephone: '',
                    CompanyName: '',
                    CompanyStreet: '',
                    CompanyLocation: '',
                    CompanyNation: '',
                    CompanyWebsite: ''
                },
                rules: {
                    Email: [
                        {  message: '请输入活动名称', trigger: 'blur' }
                    ],
                    Name: [
                        {  message: '请选择活动区域', trigger: 'blur' }
                    ],
                    Sex: [
                        { required: true, message: '请填写性别', trigger: 'blur' }
                    ],
                    Telephone: [
                        { required: true, message: '请填写联系方式', trigger: 'blur' }
                    ],
                    CompanyName: [
                        { required: true, message: '请填写公司名称', trigger: 'blur' }
                    ],
                    CompanyStreet: [
                        { required: true, message: '请填写公司地址', trigger: 'blur' }
                    ],
                    CompanyLocation: [
                        { required: true, message: '请填写公司详细地址', trigger: 'blur' }
                    ],
                    CompanyNation: [
                        { required: true, message: '请填写公司地区', trigger: 'blur' }
                    ],
                    CompanyWebsite: [
                        { required: true, message: '请填写公司官网', trigger: 'blur' }
                    ],
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http({           //调用接口
                            method: 'POST',
                            url: "/JCAccount/AddCompanyInfo",
                            params: {
                                forminfo: JSON.stringify(this.ruleForm),
                            }
                        }).then(function (response) {
                            this.isadd = response.body;
                            //console.log(this.ruleForm);
                            //console.log(JSON.stringify(this.ruleForm));
                            //console.log(response.body);
                            if (this.isadd == true) {
                                this.$notify({
                                    message: '提交成功',
                                    type: 'success'
                                });
                                window.location = "/JCSelection/main";
                            }
                        })
                    }
                    else {
                        this.$notify.error('缺少内容');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            initPages: function (e) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCAccount/GetCompanyInfo",
                    params: {
                        email:"@ViewBag.email",
                        name:"@ViewBag.name",
                    }
                }).then(function (response) {
                    this.ruleForm = response.body;
                    console.log(response.body);
                })
            }
        }
    }
    )
    OfficeStandards.initPages();
</script>*@