
@{
    ViewBag.Title = "ProductDetail";
}

@*<link href="~/assets/layui-v2.6.6/layui/css/layui.css" rel="stylesheet" />
    <script src="~/assets/layui-v2.6.6/layui/layui.js"></script>*@

<style>
    #shjahs {
        width: 100%;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #F2F3F4;
        min-height: 580px;
        height: calc(100vh - 250px);
    }

    .about-three {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    * {
        font-family: 'Microsoft YaHei'
    }
    /*    .block-title h6{
        text-align:left;
    }*/
    .block-title {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .fa-qrcode {
        width: 120px;
        height: 120px;
    }

    #FilesBox {
    }

    @@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
    /*.el-tabs__nav-wrap {
        width: 720px;

    }*/
    .el-tab-pane {
        width: 50% !important;
        margin: 0 auto !important;
        font-size: 30px !important;
    }
    /*.el-tabs el-tabs--top {
        width: 720px;

        vertical-align: center;
    }*/
    .el-tabs__nav-scroll {
        width: 50% !important;
        margin: 0 auto !important;
    }

    .el-tabs__item {
        font-size: 18px !important;
    }
</style>


<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<section class="page-header" style="height:53px;">

    @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
    <!-- /.page-header__bg -->
    <div class="container" style="padding:10px 10px ">
        HOME / 自定义配置选择

    </div><!-- /.container -->
</section><!-- /.page-header -->



<section class="about-three">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-lg-8" id="asas">

                    </div>
                    <div class="col-lg-4">
                        <div class="about-three__image">
                            <div class="block-title text-left">
                                <p>产品信息</p>
                                <h6>JC35TS-R13SF 快速升降桌</h6>
                            </div><!-- /.block-title -->
                            <div class="block-title text-left">
                                <p>关键参数</p>
                                <h6>最大负载（N）:800</h6>
                                <h6>行程（mm):650</h6>
                                <h6>遇阻回退功能,确保升降桌安全稳定运行</h6>

                            </div><!-- /.block-title -->
                            <div class="block-title text-left">
                                <p>配置编号</p>
                                <h6>JCFIG_A_2021050000002</h6>
                            </div><!-- /.block-title -->

                            <!--<div class="block-title text-left">
                                <img src="~/resourse/page/testqrcode.png" class="fa-qrcode" />

                            </div>--><!-- /.block-title -->
                            <div id="qrcode" ></div>
                            @*   <button class="thm-btn">自定义</button>*@
                        </div><!-- /.about-three__image -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->

            </div><!-- /.container -->
        </div>
    </div>
</section>

<section class="blog-page pt-20 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-title text-center">
                    <p></p>
                    <h3>产品配置列表</h3>
                </div><!-- /.block-title -->

            </div>


            <div class="col-lg-12">

                <table class="layui-hide" id="test"></table>



            </div>

        </div>
    </div>
</section>



<section class="blog-page pt-20 pb-40">
    <div class="container">
        <div class="row" id="FilesBox">
            <div class="col-lg-12">
                <div class="block-title text-center">
                    <p></p>
                    <h3>产品资料与介绍</h3>
                </div><!-- /.block-title -->
            </div>

            <div class="col-lg-12">

                <div id="app">
                    <template>
                        <el-tabs v-model="activeName" @@tab-click="handleClick" stretch>
                            <el-tab-pane label="用户管理" name="first">用户管理</el-tab-pane>
                            <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
                            <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
                            <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿定时任务补偿</el-tab-pane>
                        </el-tabs>
                    </template>
                </div>

            </div>



        </div>
    </div>
    @*<div id="app">
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="用户管理" name="first">用户管理</el-tab-pane>
                    <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
                    <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
                    <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
                </el-tabs>
            </template>
        </div>*@



</section>


<!--<section class="about-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-three__image">
                    <img src="/assets/images/resources/about-3-1.png" alt="">
                </div>-->
<!-- /.about-three__image -->
<!--</div>--><!-- /.col-lg-4 -->
<!--<div class="col-lg-8">
    <div class="about-three__image">
        <img src="/assets/images/resources/about-3-2.png" alt="">

    </div>-->
<!-- /.about-three__image -->
<!--</div>--><!-- /.col-lg-8 -->
<!--</div>--><!-- /.row -->
<!--<div class="row">
    <div class="col-lg-6">
        <div class="block-title text-left">
            <p>Get To Know About Us</p>
            <h2>Few Words About Our Company</h2>
        </div>-->
<!-- /.block-title -->
<!--</div>--><!-- /.col-lg-6 -->
<!--<div class="col-lg-6">
    <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!-- /.block-text -->
<!--</div>--><!-- /.col-lg-6 -->
<!--</div>--><!-- /.row -->
<!--</div>--><!-- /.container -->
<!--</section>--><!-- /.about-three -->


<script>
    $(function () {

        var i = '<iframe scrolling="no"  id="shjahs" class="img-fluid" alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36ts-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
        $('#asas').append(i);



    })
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/demo/table/user/'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { field: 'id', title: '名称' }
                , { field: 'username', title: '参数/值' }
            ]]
        });
    });

</script>
<script type="text/javascript">

    var Main = {
        data() {
            return {
                activeName: 'second'
            };
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
@*<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 100,
        height : 100
    });

    function makeCode() {
        var elText = document.getElementById("text");

        if (!elText.value) {
            alert("Input a text");
            elText.focus();
            return;
        }
        console.log(elText.value);
        qrcode.makeCode(elText.value);
    }

    makeCode();

    $("#text").
        on("blur", function () {
            makeCode();
        }).
        on("keydown", function (e) {
            if (e.keyCode == 13) {
                makeCode();
            }
        });
</script>*@

<script type="text/javascript" src="//static.runoob.com/assets/qrcode/qrcode.min.js"></script>
<script type="text/javascript">
   // new QRCode(document.getElementById("qrcode"), "https://github.com/davidshimjs/qrcodejs");
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "JCFIG_A_2021050000002",
        width: 128,
        height: 128,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel : 0 // 二维码结构复杂性 0~3
    });
</script>
